







article p::first-letter {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}
article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
aside ol.outer{
    list-style-type: upper-roman;
}
aside ul{
    list-style-type: square;
}
aside ol{
    list-style-type: lower-alpha;
}