html{
     background-image: linear-gradient(to bottom, white 0%, #facd8a 100%);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1000px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url("//images/OIP.webp");
    background-position: right top;
    background-repeat: repeat-y;
    background-attachment: fixed;
}
a:focus, a:hover {
    font-style: italic;
    color: orangered; 
}
h1 {
    font-size: 175%;
    color: maroon;
    text-indent: 30px;
}
h2{
    font-size: 130%;
    color: #800000;
    text-indent: 30px;
}
img{
    float: left;
    margin-left: 2em; 
}
.shadow{
    text-shadow: 2px 2px 2px rgb(128, 0, 0);
}
Main{
    clear: left;
}
main h3{
    font-size: 105%;
    margin: 1.5em 2em 1.5em;
    border: 5px dashed blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px red;
    padding: 1em
}
main nav{
    margin: 1.5em 2em 1.5em;
    border: 5px dashed blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px red;
    padding: .5em;
}
#list{
    line-height: 1.5em;
}
div.contact {
    margin: 1.5em 2em 0 2em;
    border:5px dotted blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px red;
    padding: 1em;
}
footer p.copyright{
    text-align: center;
    font-size: 80%;
}
